certifi==2020.4.5.1
click==7.1.2
dill==0.3.1.1
einops==0.2.0
greenlet==0.4.15
h5py==2.10.0
hickle==3.4.6
joblib==0.15.0
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
msgpack==0.6.1
munch==2.5.0
nltk==3.5
numpy==1.18.1
olefile==0.46
Pillow==8.3.2
pretrainedmodels==0.7.4
pynvim==0.3.2
regex==2020.5.14
six==1.14.0
torch==1.4.0
torchvision==0.5.0
tqdm==4.46.0
